{% extends "@EasyAdmin/page/login.html.twig" %}

{% block page_title %}{% endblock %}
{% block wrapper_wrapper %}
<div class="login-wrapper">
    <header class="main-header">
        <div id="header-logo">
            {% block header_logo %}
                {% if page_title %}
                    {% if ea is defined %}
                        <a class="logo {{ page_title|length > 14 ? 'logo-long' }}" title="{{ page_title|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
                            {{ page_title|raw }}
                        </a>
                    {% else %}
                        <div class="logo {{ page_title|length > 14 ? 'logo-long' }}">
                            {{ page_title|raw }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endblock header_logo %}
        </div>
    </header>

    <section class="content">

        {% if error|default(false) %}
            <div class="w-100 alert alert-danger rounded mb-3">
                <i class="fas fa-times-circle mr-1"></i>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.email) }}
                <div class="form-widget">
                    {{ form_widget(form.email )}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.first) }}
                <div class="form-widget">
                    {{ form_widget(form.plainPassword.first )}}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second) }}
                <div class="form-widget">
                    {{ form_widget(form.plainPassword.second )}}
                </div>
            </div>
            <div class="form-group">
                {{ form_widget(form.save) }}
            </div>
        {{ form_end(form) }}

        {# <form method="post" action="{{ action|default('') }}">
            {% if csrf_token_intention|default(false) %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token(csrf_token_intention) }}">
            {% endif %}

            <input type="hidden" name="{{ target_path_parameter|default('_target_path') }}" value="{{ target_path|default(ea is defined ? path(ea.dashboardRouteName) : '/') }}" />

            <div class="form-group">
                <label class="form-control-label required" for="username">{{ _username_label }}</label>
                <div class="form-widget">
                    <input type="text" id="username" name="{{ username_parameter|default('_username') }}" class="form-control" value="{{ last_username|default('') }}" required autofocus autocomplete="username">
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label required" for="password">{{ _password_label }}</label>
                <div class="form-widget">
                    <input type="password" id="password" name="{{ password_parameter|default('_password') }}" class="form-control" required autocomplete="current-password">
                </div>

                {% if forgot_password_enabled|default(false) %}
                    <div class="form-text">
                        <a href="{{ forgot_password_path|default('#') }}">{{ _forgot_password_label }}</a>
                    </div>
                {% endif %}
            </div>

            {% if remember_me_enabled|default(false) %}
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="remember_me" name="{{ remember_me_parameter|default('_remember_me') }}" {{ remember_me_checked|default(false) ? 'checked' }}>
                    <label class="form-check-label" for="remember_me">
                        {{ _remember_me_label }}
                    </label>
                </div>
            {% endif %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">{{ _sign_in_label }}</button>
            </div>
        </form>

        <script src="{{ asset('login.js', constant('EasyCorp\\Bundle\\EasyAdminBundle\\Asset\\AssetPackage::PACKAGE_NAME')) }}"></script> #}
    </section>
</div>
{% endblock %}